<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Consulting & Analytics Club, IIT Guwahati</title>
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

<link rel="stylesheet"href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
  crossorigin="anonymous"
/>



<!DOCTYPE html>
<html>
  <head></head>
  
  <body>
    <div id="welcome" class="welcome">
        <img class="cna-logo" src="https://i.ibb.co/3sW0Thf/logo-white.png">
        <p class="welcome-title" style="margin-bottom: 2vh;">Consulting & Analytics Club, IIT Guwahati's</p></p>
      <span class="welcome-title">
        <h1>SUMMER ANALYTICS</h1>
      </span>
      <span class="welcome-title">
        <p class="welcome-title">A primer course on <strong>Data Science</strong></p>
      </span>
            <button id="register-btn"><a href="https://docs.google.com/forms/d/e/1FAIpQLScoB3357mdRa8L0jxflqEeKLCOo-z4Dh0s9VwnYncFei3LC0g/viewform">Register
        </a></button>
    </div>
    
    
 
    
 <div class="section-layout">
   
   <nav class="navigation" id="navigation">
      <a class="nav-link" href="#about">About</a>
      <a class="nav-link" href="#testimonial">Testimonials</a>
      <a class="nav-link" href="#curriculum">Curriculum</a>
      <a class="nav-link" href="#projects">Projects</a>
      <a class="nav-link" href="#mentors">Mentors</a>
      <div class="register-nav">
        <h4> Course starting from<br>10th April, 2020 </h4>
        <button id="register-btn"><a href="https://docs.google.com/forms/d/e/1FAIpQLScoB3357mdRa8L0jxflqEeKLCOo-z4Dh0s9VwnYncFei3LC0g/viewform">Register
        </a></button>
          
      </div>
    </nav>
    
   <div class="right-content">

    <div id="about"
             style="background: white; padding: 50px;">
        <h2> About the Course </h2>
        <p>Data Science is all about extracting meaningful insights from huge amount of data. This online data science certification course will revolve around the concepts of <strong>Python, Machine Learning, Data Cleaning and Data Analysis.</strong> This course will help you understand core concepts and the latest advancements including aspects of Supervised, Unsupervised and the very latest and introduce you to tools and algorithms used in the industry.<br><br>
          With the <strong>availability of numerous paid and free courses across the internet</strong>, it becomes overwhelming for students to start with Data Science. To demtsify the process, we specially curate a list of courses from 20+ websites, and create a <sytrong>simplified path</strong> for our students to follow within 2 months.<br><br>
          The course is conducted by <strong><a class="cna-link" href="https://fb.me/caciitg">Consulting and Analytics Club of IIT Guwahati</a></strong> in the summers, training more than 500+ students each year. The online course was started to train the students at IIT Guwahati campus but eventually spread out to different Universities across India. 
        </p>
        
        <div id="summary">
          <div id="duration">
            <span class="sum-title">Duration</span>
            <span class="sum-value">6 weeks</span>
          </div>
          
        <div id="prerequisite">
            <span class="sum-title">Pre-requisite</span>
            <span class="sum-value">None</span>
          </div>
          
          <div id="num-projects">
            <span class="sum-title">Projects</span>
            <span class="sum-value">5+</span>
          </div>
            
        </div>
        
        
      </div>
      
    <!--TESTIMONIAL-->
    
  <div id="testimonial"
             style="background: #f2f2f2; padding: 50px;">
        <h2> What Our Students Say? </h2>
        <blockquote>
  <p><q>"Pffff! A sigh of relief after completing the final assignment after juggling with so many things. Ultimately we were able to learn great skills. I always wanted to do something in this field and I would like to thank the CnA club for making the course."</q></p>
  <footer>Abdullah Jamil Ahmad, 2019</footer>
</blockquote>
<blockquote>
  <p><q>"Brilliant course, really enjoyed it. I felt the difference when I did the final assignment. Thanks, cheers."</q></p>
  <footer>Subodh Sondkar, 2019</footer>
</blockquote>

        <blockquote>
  <p><q>"The course was structured properly, pretty good for the beginners."</q></p>
  <footer>Nagurtha Sudheer, 2019</footer>
</blockquote> 
      
    </div>
    
    <!--CURRICULUM-->
  
    <div id="curriculum" style="background: white; padding: 50px;">
        
  <h2> Curriculum </h2>

  <ul class="timeline">
    <li class="event" data-date="Week 1">
      <div class="week-container">
      <h3>Data Analysis with Python</h3>
      <ul style="margin: 20px;">
        <li>Basics of Python</li>
        <li>Numpy and Pandas</li>
        <li>Data Analysis in Python</li>
        <li>Python Web Scraping</li>
        </ul></div>
         <img src="https://library.kissclipart.com/20181007/uqq/kissclipart-python-programming-logo-clipart-python-programming-ee3b722cb6d8fd35.jpg" alt="Python Basics" style="width:15%">
  
    </li>
    <li class="event" data-date="Week 2">
      <div class="week-container">
      <h3>Advanced Exploratory Analysis</h3>
      <ul style="margin: 20px;">
        <li>Basic Statistics</li>
        <li>Charts and Visualization</li>
        <li>Outlier Analysis</li>
        <li>Handling Missing Values</li>
        <li>Effective Visuals</li>
        </ul></div>  
      <img src="https://cdn0.iconfinder.com/data/icons/big-data-3-1/128/Exploratory-Analysis-patterns-methods-discovering-data-512.png" alt="EDA" style="width:15%">
    </li>
    <li class="event" data-date="Week 3">
      <div class="week-container">
      <h3>ML Algorithms</h3>
       <ul style="margin: 20px;">
        <li>Linear Regression</li>
        <li>Logistic Regression</li>
        <li>Cost function & Gradient Descent</li>
        <li>Handling Missing Values</li>
        <li>Overfitting & Underfitting</li>
        </ul></div>
      <img src="https://cdn4.iconfinder.com/data/icons/data-science/64/35_deep_learning_algorithm-512.png" alt="ML Algorithms" style="width:15%">
    </li>
    <li class="event" data-date="Week 4">
      <div class="week-container">
      <h3>Model Tuning</h3>
      <ul style="margin: 20px;">
        <li>SVM and Tree Based models</li>
        <li>Evaluation Metrics</li>
        <li>Hyperparameter tuning</li>
        <li>Handling Missing Values</li>
        <li>Feature Selection & Engineering</li>
        </ul></div>
      <img src="https://www.shareicon.net/data/512x512/2017/01/31/877281_preferences_512x512.png" alt="Model Tuning" style="width:15%">
    </li>
    <li class="event" data-date="Week 5">
      <div class="week-container">
      <h3>Unsupervised Learning</h3>
      <ul style="margin: 20px;">
        <li>Nueral Networks</li>
        <li>PCA</li>
        <li>K-Means Clustring</li>
        </ul></div>
        <img src="https://cdn1.iconfinder.com/data/icons/motion-energy/64/mass-group-cluster-team-energy-512.png" alt="Unsupervised" style="width:15%">
        </li>
      <li class="event" data-date="Week 6">
        <div class="week-container">
      <h3>Capstone Project</h3>
      <ul style="margin: 20px;">
        <li>Topic: HR Analytics</li>
        <li>Hackathon Based</li>
        <li>Buffer period</li>
          </ul></div>
        <img src="https://static.thenounproject.com/png/33920-200.png" alt="Capstone Project" style="width:15%">
    </li>
  </ul>
     </div>
   
   <!-- PROJECTS-->
   <div id="projects"
             style="background: #f2f2f2; padding: 50px;">
     <h2> Projects </h2>
     <div class="project-list">
       <div class="project-tile">
         <img src="https://cdn0.iconfinder.com/data/icons/home-security-2/45/security-27-512.png" alt="Chicago Crime Detection" class="image" style="width:100%">
  <div class="middle">
    <div class="pr-text">Chicago Crime Detection</div>
  </div>
       </div>
        
       <div class="project-tile">
                  <img src="https://cdn1.iconfinder.com/data/icons/medical-specialties-1-3/380/Diabetes-512.png" alt="Diabetes Prediction" class="image" style="width:100%">
  <div class="middle">
    <div class="pr-text">Diabetes Prediction</div>
  </div>
         </div>
       
       <div class="project-tile">
         <img src="https://cdn4.iconfinder.com/data/icons/types-biometric-systems/52/biometrics_hand_pen_write_handwriting_signature_recognition-512.png" alt="Handwritten Digit Recognition" class="image" style="width:100%">
  <div class="middle">
    <div class="pr-text">Handwritten Digit Recognition</div>
  </div>
         </div>
       
       <div class="project-tile">
         <img src="https://cdn3.iconfinder.com/data/icons/data-analytics-3/512/3-512.png" alt="HR Analytics" class="image" style="width:100%">
  <div class="middle">
    <div class="pr-text">HR Analytics</div>
  </div>
         </div>
   
 
   
    </div>
    
       
    </div>
   
   <!--Mentors-->
    <div id="mentors"
             style="background: white; padding: 50px;">
     <h2> Mentors </h2>
         <div class="team">
      <div class="card">
        <div class="imgBx">
            <img src="https://media-exp1.licdn.com/dms/image/C5103AQG9jgkFo1eJaQ/profile-displayphoto-shrink_800_800/0?e=1591833600&v=beta&t=PhN5ZqNIWprV0VqcSKs8PgsCfeFil3cW0YVu34Ue-a8" alt="images">
        </div>
        <div class="details">
            <h2>Sabhareesh M<br><span>Consulting Head</span></h2>
        </div>
      </div>
    
       <div class="card">
         <div class="imgBx">
            <img src="https://media-exp1.licdn.com/dms/image/C5103AQF2Gzi4UzMlMA/profile-displayphoto-shrink_200_200/0?e=1591833600&v=beta&t=W2yRs-tu4bIJax6fATbzuCo4GSHVg3Sf-gcSWYFhFJ0" alt="images">
         </div>
         <div class="details">
            <h2>Rishabh Agrawal<br><span>Secretary</span></h2>
          </div>
       </div>

       <div class="card">
         <div class="imgBx">
            <img src="https://media-exp1.licdn.com/dms/image/C5103AQFLVjE0ekqW2Q/profile-displayphoto-shrink_800_800/0?e=1591833600&v=beta&t=-PABzkAOufCDpZ8Gxsd8lYnQFPl7E3MRFiiAl8pVSS0" alt="images">
         </div>
         <div class="details">
            <h2>Krish Tikmani<br><span>Analytics Head</span></h2>
          </div>
       </div>
 
  </div>
  
         
       </div>
     <!-- Register Box-->
       
       <div class="register-box">
         <h2 style="text-align: center; margin: 10px;"> ENROLL NOW </h2>
         <p style="text-align: center; margin-bottom: 30px; margin-top: 0px;"> Starts 10th April, 2020 </p>
         <button id="register-btn"><a href="https://docs.google.com/forms/d/e/1FAIpQLScoB3357mdRa8L0jxflqEeKLCOo-z4Dh0s9VwnYncFei3LC0g/viewform" style="height: 6em;">Register
        </a></button>
       </div>
     
     </div></div>
  </body>
   
  <footer id="contact" class="contact-section">
  <div class="contact-section-header">
    <h2>Let's work together...</h2>
    <p>How would you like to connect?</p>
  </div>
  <div class="contact-links">
 
    <a
      id="profile-link"
      href="https://fb.me/caciitg"
      target="_blank"
      class="btn contact-details"
      ><i class="fab fa-facebook"></i> Facebook</a
    >
    <a
      href="https://www.linkedin.com/company/caciitg"
      target="_blank"
      class="btn contact-details"
      ><i class="fab fa-linkedin"></i> Linkedin</a
    >
    <a href="mailto:caciitg@gmail.com" class="btn contact-details"
      ><i class="fas fa-at"></i> Send a mail</a
    >
  </div>
  
  
    
    
</footer>

   
</html>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
