<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<style type="text/css">
span.cls_003{font-family:Raleway,serif;font-size:14.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Raleway,serif;font-size:14.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Courier New,serif;font-size:42.0px;color:rgb(55,54,52);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Courier New,serif;font-size:42.0px;color:rgb(55,54,52);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Courier New,serif;font-size:60.0px;color:rgb(55,54,52);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Courier New,serif;font-size:60.0px;color:rgb(55,54,52);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Raleway,serif;font-size:20.0px;color:rgb(55,54,52);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Raleway,serif;font-size:20.0px;color:rgb(55,54,52);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Raleway,serif;font-size:36.0px;color:rgb(83,83,83);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Raleway,serif;font-size:36.0px;color:rgb(83,83,83);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:Raleway,serif;font-size:16.0px;color:rgb(55,54,52);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Raleway,serif;font-size:16.0px;color:rgb(55,54,52);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Raleway,serif;font-size:16.0px;color:rgb(55,54,52);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_009{font-family:Raleway,serif;font-size:16.0px;color:rgb(55,54,52);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_011{font-family:Raleway,serif;font-size:12px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:Raleway,serif;font-size:12.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_011{font-family:Raleway,serif;font-size:16.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_002{font-family:"Open Sans",serif;font-size:16.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:"Open Sans",serif;font-size:16.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_010{font-family:"Open Sans",serif;font-size:12.0px;color:rgb(204,55,55);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_010{font-family:"Open Sans",serif;font-size:12.0px;color:rgb(204,55,55);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_014{font-family:"Open Sans",serif;font-size:12.0px;color: #004aad;font-weight:bold;font-style:normal;text-decoration: none}
div.cls_014{font-family:"Open Sans",serif;font-size:12.0px;color: #004aad;font-weight:bold;font-style:normal;text-decoration: none}
span.cls_013{font-family:"Open Sans",serif;font-size:12.0px;color: #008037;font-weight:bold;font-style:normal;text-decoration: none}
div.cls_013{font-family:"Open Sans",serif;font-size:12.0px;color: #008037;font-weight:bold;font-style:normal;text-decoration: none}
</style>
<script type="text/javascript" src="13ba8a46-c46a-11ea-8b25-0cc47a792c0a_id_13ba8a46-c46a-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
    <div style="position:absolute;left:50%;margin-left:-396px;top:0px;width:792px;height:611px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
		<%	if(user.Certificate == 'Completion'){ %>
				<img src="https://i.ibb.co/mtq1cYQ/background1.png" width=792 height=611>
		<%	}else if(user.Certificate == 'Merit'){ %>
				<img src="https://i.ibb.co/L0cfdm6/background3-jpg.png" width=792 height=611>
		<%	}else{ %>
				<img src="https://i.ibb.co/gFbd7t6/background2.png" width=792 height=611>
		<%	} %>
        
		</div>
        <div style="position:absolute;left:28.95px;top:97.82px" class="cls_003"><span class="cls_003">Consulting & Analytics Club</span></div>
        <div style="position:absolute;left:266.56px;top:98.58px" class="cls_003"><span class="cls_003">Technical Board</span></div>
        <div style="position:absolute;left:81.73px;top:117.32px" class="cls_003"><span class="cls_003">IIT Guwahati</span></div>
        <div style="position:absolute;left:279.35px;top:118.08px" class="cls_003"><span class="cls_003">IIT Guwahati</span></div>
        <div style="position:absolute;left:28.62px;top:156.05px" class="cls_004"><span class="cls_004">Certificate of</span></div>
        <div style="position:absolute;left:28.62px;top:190.55px" class="cls_005"><span class="cls_005"><%=user.Certificate%></span></div>
        <div style="position:absolute;left:28.62px;top:270.52px" class="cls_006"><span class="cls_006">This certifies that</span></div>
        <div style="position:absolute;left:28.34px;top:300.48px" class="cls_007"><span class="cls_007"><%=user.Name%></span></div>
        <div style="position:absolute;left:28.62px;top:354.16px" class="cls_008"><span class="cls_008">has completed </span><span class="cls_009">250+ hours</span><span class="cls_008"> of course content in </span><span class="cls_009">Summer</span></div>
        <div style="position:absolute;left:28.62px;top:375.91px" class="cls_009"><span class="cls_009">Analytics</span></div>
        <div style="position:absolute;left:100px;top:375.91px" class="cls_009"><span class="cls_009">2020</span><span class="cls_008">,  a  Data  Science  boot  camp  course</span></div>
        <div style="position:absolute;left:614.86px;top:349.15px" class="cls_011"><span class="cls_011">Verify at:</span></div>
        <div style="position:absolute;left:500px;top:365.65px" class="cls_012"><span class="cls_012">caciitg.in/sa/verify/<%=user._id%></span></div>
        <div style="position:absolute;left:28.62px;top:397.66px" class="cls_008"><span class="cls_008">organised by </span><span class="cls_009">Consulting & Analytics Club, IIT Guwahati</span></div>
        <div style="position:absolute;left:75.71px;top:511.33px" class="cls_002"><span class="cls_002">Rishabh Agrawal</span></div>
        <div style="position:absolute;left:356.17px;top:511.33px" class="cls_002"><span class="cls_002">Shrey Jain</span></div>
        <div style="position:absolute;left:549.74px;top:512.08px" class="cls_002"><span class="cls_002">Krishn Kanhaiya Tikmani</span></div>
		
		<% if(user.Certificate == 'Completion'){ %>
        <div style="position:absolute;left:83.21px;top:532.58px" class="cls_010"><span class="cls_010">Secretary, C&A Club</span></div>
        <div style="position:absolute;left:291.20px;top:532.58px" class="cls_010"><span class="cls_010">General Secretary, Technical Board</span></div>
        <div style="position:absolute;left:574.20px;top:533.33px" class="cls_010"><span class="cls_010">Analytics Head, C&A Club</span></div>
        <div style="position:absolute;left:104.45px;top:549.08px" class="cls_010"><span class="cls_010">IIT Guwahati</span></div>
        <div style="position:absolute;left:357.94px;top:549.08px" class="cls_010"><span class="cls_010">IIT Guwahati</span></div>
        <div style="position:absolute;left:611.43px;top:549.83px" class="cls_010"><span class="cls_010">IIT Guwahati</span></div>
		<% } %>
		
		<% if(user.Certificate == 'Merit'){ %>
        <div style="position:absolute;left:83.21px;top:532.58px" class="cls_013"><span class="cls_013">Secretary, C&A Club</span></div>
        <div style="position:absolute;left:291.20px;top:532.58px" class="cls_013"><span class="cls_013">General Secretary, Technical Board</span></div>
        <div style="position:absolute;left:574.20px;top:533.33px" class="cls_013"><span class="cls_013">Analytics Head, C&A Club</span></div>
        <div style="position:absolute;left:104.45px;top:549.08px" class="cls_013"><span class="cls_013">IIT Guwahati</span></div>
        <div style="position:absolute;left:357.94px;top:549.08px" class="cls_013"><span class="cls_013">IIT Guwahati</span></div>
        <div style="position:absolute;left:611.43px;top:549.83px" class="cls_013"><span class="cls_013">IIT Guwahati</span></div>
		<% } %>
		
		<% if(user.Certificate == 'Excellence'){ %>
        <div style="position:absolute;left:83.21px;top:532.58px" class="cls_014"><span class="cls_014">Secretary, C&A Club</span></div>
        <div style="position:absolute;left:291.20px;top:532.58px" class="cls_014"><span class="cls_014">General Secretary, Technical Board</span></div>
        <div style="position:absolute;left:574.20px;top:533.33px" class="cls_014"><span class="cls_014">Analytics Head, C&A Club</span></div>
        <div style="position:absolute;left:104.45px;top:549.08px" class="cls_014"><span class="cls_014">IIT Guwahati</span></div>
        <div style="position:absolute;left:357.94px;top:549.08px" class="cls_014"><span class="cls_014">IIT Guwahati</span></div>
        <div style="position:absolute;left:611.43px;top:549.83px" class="cls_014"><span class="cls_014">IIT Guwahati</span></div>
		<% } %>
		
        <img src="https://api.qrserver.com/v1/create-qr-code/?size=70x70&data=https%3A%2F%2Fcaciitg.in%2Fsa%2Fverify%2F<%=user._id%>" style="position:absolute;left:600px;top:270px; z-index: 1;">
        </div>
        
</body>
</html>